h1 {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
  font-size: 70px;
  margin: 0px;

  transform: skew(-30deg);
}
h2 {
  background-color: pink;
  border: 1px solid black;
  padding: 10px;
  width: 250px;

  border-radius: 10px 20px;
}
div p:nth-of-type(3) {
  color: red;
  transform: rotatex(180deg);
}
::selection {
  background-color: yellow;
  color: red;
}
